.filter-container {
  text-align: center;
  padding-bottom: 20px;
}
input {
  margin: 20px auto;
  display: block;
  font-size: 1.4rem;
  text-align: center;
  transition: 0.2s;
}
input:focus {
  border-radius: 30px;
  background: rgb(238, 238, 238);
}
.range-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.countries-container{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.card{
  flex: 1 0 20%;
  min-width: 260px;
  background-color: rgb(17, 16, 16);
  margin: 5px;
  color: white; 
  border-radius: 1.25rem;
  padding: 1.25rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

input[type="range"] {
  width: 250px;
  margin: 0 10px 10px 0;
}
.range-container span {
  font-size: 1.2rem;
  transform: translateY(-3px);
}

img {
  height: 6.25rem;
  width: 10rem;
  object-fit: cover;
}
